<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <a href="#" class="brand">サイトのロゴとか</a>
    <nav class="nav">
      <button class="nav__toggle" aria-expanded="false" type="button">
        menu
      </button>
      <ul class="nav__wrapper">
        <% if user_signed_in? %>
          <li class="nav__item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav__item">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="nav__item">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>